html,body{height:100%;}
/*  carousel slider landing page */
.carousel,.item,.active{
    height:100%;
}

.fill{

    width:100%;
    height:100%;
    background-size: cover;
    background-position:center;
}
.carousel-inner{height:100%;}

.carousel-caption h2,h5{
    text-align: right;
}

  /* responsive css*/






















/* navbar-custom-lp1 bottom navbar on slide*/

.navbar-custom-lp1 {
     min-height: 75px;
    background-color: #6dccf6;
    text-transform: uppercase;


}
.navbar-custom-lp1 .navbar-brand {

    color: #ffffff;
}
.navbar-custom-lp1 .navbar-brand:hover, .navbar-custom-lp1 .navbar-brand:focus {
    color: #ffffff;
}
.navbar-custom-lp1 .navbar-text {
    color: #ffffff;
}
.navbar-custom-lp1 .navbar-nav > li > a {

    padding-top: 27px;
    color: #ffffff;
}
.navbar-custom-lp1 .navbar-nav > li > a:hover, .navbar-custom-lp1 .navbar-nav > li > a:focus {
    color: blue;
    background-color: transparent;
}
.navbar-custom-lp1 .navbar-nav > .active > a, .navbar-custom-lp1 .navbar-nav > .active > a:hover, .navbar-custom-lp1 .navbar-nav > .active > a:focus {
    color: blue;
    background-color: transparent;
}
.navbar-custom-lp1 .navbar-nav > .open > a, .navbar-custom-lp1 .navbar-nav > .open > a:hover, .navbar-custom-lp1 .navbar-nav > .open > a:focus {
    color: blue;
    background-color: transparent;
}
.navbar-custom-lp1 .navbar-toggle {
    border-color: #6dccf6;
}
.navbar-custom-lp1 .navbar-toggle:hover, .navbar-custom-lp1 .navbar-toggle:focus {
    background-color:#6dccf6;
}
.navbar-custom-lp1 .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-custom-lp1 .navbar-collapse,
.navbar-custom-lp1 .navbar-form {
    border-color: #ffffff;
}
.navbar-custom-lp1 .navbar-link {
    color: #ffffff;
}
.navbar-custom-lp1 .navbar-link:hover {
    color: #ffffff;
    background-color: transparent;
}




/* nav bar on landing pagre slide 2*/
.navbar-custom-lp2 {
    min-height: 75px;
    background-color: #f82510;
    text-transform: uppercase;

}
.navbar-custom-lp2 .navbar-brand {
    color: #ffffff;
}
.navbar-custom-lp2 .navbar-brand:hover, .navbar-custom-lp2 .navbar-brand:focus {
    color: #ffffff;
}
.navbar-custom-lp2 .navbar-text {
    color: #ffffff;
}
.navbar-custom-lp2 .navbar-nav > li > a {
    padding-top: 27px;
    color: #ffffff;
}
.navbar-custom-lp2 .navbar-nav > li > a:hover, .navbar-custom-lp2 .navbar-nav > li > a:focus {
    color: #ffbbbc;
    background-color: transparent;
}
.navbar-custom-lp2 .navbar-nav > .active > a, .navbar-custom-lp2 .navbar-nav > .active > a:hover, .navbar-custom-lp2 .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: transparent;
}
.navbar-custom-lp2 .navbar-nav > .open > a, .navbar-custom-lp2 .navbar-nav > .open > a:hover, .navbar-custom-lp2 .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: transparent;
}
.navbar-custom-lp2 .navbar-toggle {
    border-color: #f82510;
}
.navbar-custom-lp2 .navbar-toggle:hover, .navbar-custom-lp2 .navbar-toggle:focus {
    background-color: #f82510;
}
.navbar-custom-lp2 .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-custom-lp2 .navbar-collapse,
.navbar-custom-lp2 .navbar-form {
    border-color: #ffffff;
}
.navbar-custom-lp2 .navbar-link {
    color: #ffffff;
}
.navbar-custom-lp2 .navbar-link:hover {
    color: #ffbbbc;
}

/* nav bar on landin pagre slide 3*/
.navbar-custom-lp3 {
    min-height: 75px;
    background-color: #002f55;
    text-transform: uppercase;

}
.navbar-custom-lp3 .navbar-brand {
    color: #ffffff;
}
.navbar-custom-lp3 .navbar-brand:hover, .navbar-custom-lp3 .navbar-brand:focus {
    color: #ffffff;
}
.navbar-custom-lp3 .navbar-text {
    color: #ffffff;
}
.navbar-custom-lp3 .navbar-nav > li > a {
    padding-top: 27px;
    color: #ffffff;
}
.navbar-custom-lp3 .navbar-nav > li > a:hover, .navbar-custom-lp3 .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom-lp3 .navbar-nav > .active > a, .navbar-custom-lp3 .navbar-nav > .active > a:hover, .navbar-custom-lp3 .navbar-nav > .active > a:focus {
    color: #ffffff  ;
    background-color: transparent;
}
.navbar-custom-lp3 .navbar-nav > .open > a, .navbar-custom-lp3 .navbar-nav > .open > a:hover, .navbar-custom-lp3 .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom-lp3 .navbar-toggle {
    border-color: #002f55;
}
.navbar-custom-lp3 .navbar-toggle:hover, .navbar-custom-lp3 .navbar-toggle:focus {
    background-color:#002f55;
}
.navbar-custom-lp3 .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-custom-lp3 .navbar-collapse,
.navbar-custom-lp3 .navbar-form {
    border-color: #ffffff;
}
.navbar-custom-lp3 .navbar-link {
    color: #ffffff;
}
.navbar-custom-lp3 .navbar-link:hover {
    color: #ffffff;
}


/* navbar custom for all site*/
.navbar-custom {
    min-height: 80px;
    margin-top: 10px;
    background-color: deepskyblue;
    text-transform: uppercase;
}
.navbar-custom .navbar-brand {
     margin-top: -10px;
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
    color: #ffffff;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
    padding-top: 20px;
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    color: blue;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
    color: blue;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
    color: blue;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: deepskyblue;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
    background-color:deepskyblue;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #ffffff;
}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #ffffff;
    background-color: transparent;
}

/* css for film.ejs*/

.fixed-height-container
{

    height: 350px;
    width:250px;
    padding:3px;
    background:#ffffff;
}
.content
{
    height:350px;
    overflow:auto;
    background:#fff;
}

