<header class="site-header">
    <div class="site-logo">
        <a href="#">
            <img style="width: 82px; height: 21px" alt="page logo" src="/images/Krisang_logo.png">
        </a>
    </div>
    <nav class="navigation" role="navigation">
        <ul id="main-menu" class="nav-menu">
            <!--  <li id="menu-item-home" class=" current-menu-item  menu-item-has-children">
                  <a href="#home">Home</a>
                  <ul class="sub-menu">
                      <li id="sub-menu-1" class="  current-menu-item   ">
                          <a href="#">sub menu 1</a>
                      </li>
                      <li id="sub-menu-2" class="  ">
                          <a href="#">sub menu 2</a>
                      </li>
                      <li id="sub-menu-3" class="  ">
                          <a href="#">sub menu 3</a>
                      </li>
                      <li id="sub-menu-4" class="  ">
                          <a href="#">sub menu 4</a>
                      </li>
                   </ul>
              </li>  -->
            <li id="menu-item-about" class="current-menu-item ">
                <a href="#about">About</a>
            </li>

            <li id="menu-item-work" class="  ">
                <a href="#work">work</a>
            </li>



            <li id="menu-item-contact" class="  ">
                <a href="#contact">Contact</a>
            </li>

        </ul>
    </nav>
    <button class="mobile-nav">
        <span></span>
        <span></span>
        <span></span>
    </button>

</header>
