
<div class="navbar navbar-custom navbar-static-top">
    <div class="container">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="#" class="navbar-brand">
            <img src="/images/Krisang_logo.png" alt="" height="40px" class="img-responsive"/>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="#">Films</a></li>
                <li><a href="/site/clients">clients</a></li>
                <li><a href="#">media</a></li>
                <li><a href="#">feed</a></li>
                <li><a href="#">krisang</a></li>

            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="fixed-height-container">
            <div class="content">
               <p> blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                .blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
                .blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah... ..blah blah blah...
              </p>
            </div>
            <div class="input-group">
                <input type="text" name="subscribe" class="input-lg" placeholder="your mail id"/>
                <button type="button" class="btn pull-right" style="background-color: lightskyblue; color: #ffffff">Subscribe</button>

            </div>
            <div class="img-responsive" style="margin-top: -90px">
                <img src="/images/film.jpg" alt="" style="height: 150px" />
            </div>
        </div>

    </div>
    <div class="col-md-8">

    </div>

</div>
