

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">


            <div class="fill " style="background-image:url(../images/lp1.jpg);"> </div>

                <div class="row">
                    <div class="col-md-9"> </div>
                    <div class="col-md-3">
                        <div class="carousel-caption ">

                             <h2>Project:HulaHoola</h2>
                             <h5>Location:Genting</h5>
                             <h5>Duration:30mins</h5>
                        </div>
                    </div>
                </div>



            <div class="navbar navbar-custom-lp1 navbar-fixed-top">
                <div class="container">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#" class="navbar-brand">
                        <img src="/images/Krisang_logo.png" alt="" class="img-responsive"/>
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/site/films">Films</a></li>
                            <li><a href="/site/films">clients</a></li>
                            <li><a href="#">media</a></li>
                            <li><a href="#">feed</a></li>
                            <li><a href="#">krisang</a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- Second slide-->
        <div class="item ">
            <div class="fill " style="background-image:url(../images/lp2.jpg); "></div>
                <div class="row">
                    <div class="col-md-9"> </div>
                    <div class="col-md-3">
                        <div class="carousel-caption ">

                            <h2>Project:HulaHoola</h2>
                            <h5>Location:Genting</h5>
                            <h5>Duration:30mins</h5>
                        </div>
                    </div>
                </div>
            <div class="navbar navbar-custom-lp2 navbar-fixed-top">
                <div class="container">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#" class="navbar-brand">
                        <img src="/images/Krisang_logo.png" alt=""/>
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="#">Films</a></li>
                            <li><a href="#">clients</a></li>
                            <li><a href="#">media</a></li>
                            <li><a href="#">feed</a></li>
                            <li><a href="#">krisang</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third slide-->

        <div class="item">
            <div class="fill" style="background-image:url(../images/lp3.jpg);"> </div>
                <div class="row">
                    <div class="col-md-9"> </div>
                    <div class="col-md-3">
                        <div class="carousel-caption ">

                            <h2>Project:HulaHoola</h2>
                            <h5>Location:Genting</h5>
                            <h5>Duration:30mins</h5>
                        </div>
                    </div>
                </div>
            <div class="navbar navbar-custom-lp3 navbar-fixed-top">
                <div class="container">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#" class="navbar-brand">
                        <img src="/images/Krisang_logo.png" alt=""/>
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="#">Films</a></li>
                            <li><a href="#">clients</a></li>
                            <li><a href="#">media</a></li>
                            <li><a href="#">feed</a></li>
                            <li><a href="#">krisang</a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

  </div>

